# Ignore temp stuff.
/tmp

# Ignore OS-specific stuff.
.DS_Store

# Build artifacts.
/build/*
!/build/fizzy

# Documentation artifacts.
/.yardoc

# Debugging artifacts.
/.byebug_history

# Bundler.
/.bundle

# Misc.
/.tern-port
