--markup-provider kramdown
--markup markdown
--main README.md
--protected
--output-dir "website/source/docs/api"
--title "fizzy API documentation"

src/**/*.rb
-
LICENSE.md
CHANGELOG.md
CONTRIBUTING.md
STYLE_GUIDE.md
CODE_OF_CONDUCT.md
