.jumbotron.jumbotron-fluid
  .container-fluid

    %h1.display-2 fizzy
    %small.lead the hassle-free configuration manager

    %hr.m-y-3

    %p.lead.text-muted
      get rid of the fucking bloated, hard-as-fuck tools like ansible,
      chef, puppet and get things done right now!

    %p.lead.text-muted
      fizzy is an easy-to-use, learn-by-doing, lightweight, configuration
      management tool meant to be used by developers, hackers, experienced users

    %p.lead.text-muted
      it doesn't try to reimplement the wheel, instead it follows the unix
      philosophy
      %em do one thing and do it well
      making extremely easy to integrate with your existing ecosystem

    %hr.m-y-2

    %p.lead.text-muted
      fizzy aims to be a good citizen and suitable for enterprise realities,
      allowing you to integrate it in your existing automation, deployment,
      orchestration systems

    %hr.m-y-2

    %p.lead
      %a(class="btn btn-primary btn-lg"
         role="button"
         href="https://github.com/alem0lars/fizzy") Source Code
      %a(class="btn btn-primary btn-lg"
         href="https://alem0lars.github.io/fizzy/docs/api"
         role="button") API docs
      %a(class="btn btn-primary btn-lg"
         href="https://alem0lars.github.io/fizzy/docs/test-results"
         role="button") Test results
      %a(class="btn btn-primary btn-lg"
         href="https://alem0lars.github.io/fizzy/docs/coverage"
         role="button") Code coverage
